zmodule romkatv/powerlevel10k

zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-completions --fpath src

# Oh my zsh stuff
zmodule ohmyzsh/ohmyzsh --root 'plugins/git-auto-fetch'
zmodule ohmyzsh/ohmyzsh --root 'plugins/mvn'
zmodule ohmyzsh/ohmyzsh --root 'plugins/sudo'
# Warn you when you run a command that you've got an alias for
zstyle ':omz:plugins:alias-finder' autoload yes
zmodule ohmyzsh/ohmyzsh --root 'plugins/alias-finder'
zmodule ohmyzsh/ohmyzsh --root 'plugins/fzf'

# key bindings, especially important is up-line-or-beginning-search
zmodule ohmyzsh/ohmyzsh --source 'lib/key-bindings.zsh'

zmodule rupa/z --source 'z.sh'

if type brew &>/dev/null; then
    # Brew
    echo "Zim brew: $(brew --prefix)"
    zmodule "$(brew --prefix)/completions/zsh" --fpath .
    zmodule "$(brew --prefix)/share/zsh" --fpath "site-functions" 
fi

zmodule completion

# these plugins mess with compdef/compinit
zmodule ohmyzsh/ohmyzsh --root 'plugins/git'
zmodule ohmyzsh/ohmyzsh --root 'plugins/docker' --fpath 'plugins/docker'
zmodule ohmyzsh/ohmyzsh --root 'plugins/kubectl'
